@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
:root{
    --cor0:#F6F6F6;
    --cor1:#0F1C67;
    --cor2:#6AA7D9;
    --cor3:#96BAE1;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
    
}
 
/* CABEÇALHO */
header{
    display: flex;
    justify-content: center;
    background-image: url(img/capa.png);
    height: 270px;
}
header > img{
    height: 236px;
}




/* APRESENTAÇÃO */
div.apresentacao{
    display: flex;
    position: relative;
    
    background-image: url(img/teste2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    
    
    color: var(--cor0);
    height: 100vh;
    
}


div#desc{
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    top: 20%;
    left: 47%;
    
    
   
}
div#desc > h1{
    font-size: 60px;   
}
div#desc > p{
    margin-top: 30px;
    max-width: 630px;
}
#desc2{
    margin-top: 50px; 
}
li{
    list-style: disc;
    margin-left: 10px;
}
/* BOTAO */

.btn{
    font-weight: bold;
    font-size: 1em;
    background-image: url(img/teste2.png);
    background-size: cover;
    background-color:#5c7bb2;
    color: var(--cor0);

    margin-top: 50px;
    padding: 20px 40px;
    border: solid 2px var(--cor0) ;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
 .btn:hover{
    background-image: url(img/teste3.jpeg);
    color: #254d93;
    transform: scale(1.1);
    cursor: pointer;

} 
/* CELULAR */
section#telefone{
    position: absolute;
    height: 627px;
    width: 311px;
    
    

    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);

    background: url(img/iPhone-15-Black-2.png) no-repeat;
    
}

iframe#tela{
    box-shadow: 30px 10px 50px rgb(0, 0, 0);
    position: relative;
    top: 15px;
    left: 16px;
    width: 280px;
    height: 598px;
    border-radius:20px ;

}

@media screen and (max-width: 830px) {
    div.apresentacao{
        
        flex-direction: column-reverse;
        height: 1300px;
    }

    section#telefone{
        
        left: 50%;
        top: 73%;
    }

    div#desc{
        text-align: center;
        top: 25%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .btn{
        padding: 10px 20px;
        margin-top: 30px;    
    }
    
}

/* QUEM SOMOS NOS */
section.intro{
    margin-bottom: 100px;
    padding: 50px;
    
    background-image: url(img/dom-destaque-blue.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 25%;
   
    
    
}


.intro > h2{
    font-size: 2em;
    color: var(--cor2);
    margin-bottom: 25px;
    margin-top: 25px;
}
.intro > h1{
    color: var(--cor2);
    font-size: 3.5em;
    text-align: center;

    margin-top: 100px;
    margin-bottom: 100px;
    
}

/* SERVIÇOS */
section.servicos{
    background-image: url(img/teste3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    
    font-size: 1.8em;
    text-align: center;
    background-color: var(--cor2);
}
section.servicos > h1{
    text-transform: uppercase;
    color: var(--cor2);
    padding: 100px;
}


/* footer */
footer{
    
    color: var(--cor0);
    background-color: var(--cor1);
    
    padding: 50px;
    
}
section.infos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    
    

}

.container01{
    margin: 50px 50px 0px 50px;
    position: relative;
   
}
.icons{
    width: 20px;
    height: 20px;
}
#contato-whats{
    position: absolute;
    top: 36px;
    right: 207px;
    
    
}
#contato-insta{
    position: absolute;
    top: 66px;
    right: 207px;
}
#contato-mail{
    position: absolute;
    top: 96px;
    right: 207px;

}
.container02{
    min-width: 175px;
    
    margin: 50px 50px 0px 50px;
    position: relative;
}
#loc1{
    
    position: absolute;
    top: 36px;
    right: 150px;

}

#loc2{
    position: absolute;
    top: 66px;
    right: 150px;

}

    
.container03{
    margin: 50px 50px 0px 50px;
}

.container04{
    margin: 50px 50px 0px 50px;
    position: relative;
    
}
#loc4{
    position: absolute;
    top: 33px;
    right: 180px;

} 
dt{
    
    font-size: 1.5em;
    font-weight: bold;
}
dd{
    
    line-height: 30px;
    margin-left: 25px;
}

.iconsredes{
    margin-top: 5px;
    display: inline-block;
    background-color: #254d93;
    width: 40px;
    height: 40px;  
    border-radius: 10px;
    
    position: relative;
    
}
#insta{
    position: absolute;
    width: 30px;
    height: 30px;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#whats{
    position: absolute;
    width: 30px;
    height: 30px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#tiktok{
    position: absolute;
    width: 25px;
    height: 25px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#face{
    position: absolute;
    width: 35px;
    height: 35px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.iconsredes:hover{
    background-color: var(--cor2);
    transform: scale(1.1);
    cursor: pointer;
}
dd:hover{
    color: var(--cor2);
    
}
.selos{
    width: 70px;
    height: 28px;
    background-color: #5c7cb25d;
}
.container05{
    margin: 50px 50px 0px 50px;
    
}
.btn-footer{
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
   
   
    background-color:#5c7bb2;
    color: var(--cor0);
    margin-top: 10px;
    
    
    padding: 10px 20px;
    border: solid 2px var(--cor0) ;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
 .btn-footer:hover{
    background-image: url(img/teste3.jpeg);
    color: #254d93;
    transform: scale(1.1);
    cursor: pointer;

} 
.container06{
    display: flex;
    justify-content: center;
    margin: 50px 50px 0px 50px;
}

#logofooter{
    width: 100px;
    height:80.7px;
    margin-top: 100px;

    
}
#direitos{
    text-align: center;
}







/* .div-maps{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
   
}

#logo-footer{
   
    
    width: 300px;
    height: 250px; 
}
*/